body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, red, blue);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    margin: 150px 550px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    height: 60vh;
    width: 50%;
    background-color: white;
    font-size: x-large;
    font-weight: bolder;
}
h1{
    color: darkred;
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 70px;
    color: darkblue;
}

input{
    padding: 20px;
    border-radius: 10px;
    border:5 px solid red;
    width: 85%;
    height: 5vh;
    margin: 20px 20px;
    font-size: xx-large;
    font-weight: bolder;
   
}
button{
    display: inline;
    margin: 30 px 250 px;
    padding: 25 px;
    width: 40 %;
    border-radius: 11 px;
    border:5 px solid white;
    color: white;
    font-size: xx-large;
    background-color: darkblue;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background-color: red;
}
